<div *ngIf = "character">
    <h2>{{character.name}} detail</h2>
    <div><span>name: </span>{{character.name}}</div>
    <div><span>HP: </span>{{character.life}} <span>/</span> {{character.max_life}}</div>
    <div><span>mana: </span>{{character.mana}} <span>/</span>{{character.max_mana}}</div>
</div>
<button (click)="goBack()">précédent</button>
