<div id="characters_component">
    <div id="player" >
        <p>{{player.name}}</p>
        <div><span>life : </span>{{player.life}} <span> / </span> {{player.max_life}}</div>
        <div><span>mana : </span>{{player.mana}} <span> / </span> {{player.max_mana}}</div> 
    </div>

    <div id="team">
        <ul class="team">Team :
            <li *ngFor="let character of team"
            [class.selected]="character === selectCharacter"
            (click) = "onSelect(character)">
                <span class="badge">{{character.name}}</span>
            </li>
        </ul>
    </div>
    <div *ngIf="selectCharacter">
        <p>Description: <span>{{selectCharacter.name}}</span> </p>
        <div><span>life : </span>{{selectCharacter.life}} <span> / </span> {{selectCharacter.max_life}}</div>
        <div><span>mana : </span>{{selectCharacter.mana}} <span> / </span> {{selectCharacter.max_mana}}</div>
        <button (click)="unSelect()" >x</button> 
    </div>
</div>