ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
    li {
        cursor: pointer;
        position: center;
        left: 0;
        background-color: #696969;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
        text-align: center;
      }
    li:hover {
        color: black;
        background-color: #BDB76B;
        left: .1em;
      }
    li.selected {
        background-color: #BDB76B;
        color: white;
      }
    li.selected:hover {
        background-color: #F0E68C;
        color: white;
      }
    
h3{
    color: #696969;
    
}
:host {
    display: block;
  }
  
  .open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }

#characters_component
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}