<div class="inventaire_component">
<!-- <button (click) = "toggle()">Inventory</button> -->
<!-- <div [@myInventory]="isShown ? true : false "class="insert-remove-container"> -->

<h2>Inventory:</h2>
<div *ngIf="items">
    <ul class="items">
        <li *ngFor="let item of items"
        [class.selected]="item === selectItem"
        (click) = "onSelect(item)" >
            <span  class="badge">{{item.name}}</span>
        </li>
    </ul>
</div>
<div *ngIf="!items">
    <p>Inventory is empty.</p>
</div>
<div *ngIf="selectItem">
    <p>Descrition : <span> {{selectItem.name}}</span></p>
    <p>{{selectItem.content}}</p>   
    <button (click)="unSelect()">x</button>
</div>
<!-- </div> -->
