.inventaire_component h2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
    li {
        cursor: pointer;
        position: center;
        left: 0;
        background-color: #D2B48C;
        margin: .5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
        text-align: center;
      }
    li:hover {
        color: black;
        background-color: #FFF8DC;
        left: .1em;
      }
    li.selected {
        background-color: #FFF8DC;
        color: black;
      }
    li.selected:hover {
        background-color: #FFF8DC;
        color: black;
      }
    