
  <div class="mainContent"> 
    <app-scene class="scene"></app-scene>

    <nav [@myInventory]="isShown ? true : false "class="insert-remove-container">
      <div>
        <app-inventory class="Inventaire"> </app-inventory>  
      </div>  
    </nav>
  </div>    
  
  
  <footer>
   <app-character class="wrapperCharacter"></app-character>
    <div class="buttons">
            <button (click) = "toggle()">Inventaire</button>
            <button>Reset </button>
    </div>
  </footer>
  