

.mainContent
{
    display: flex;
    width: 100%;
    height: 60%;
}

.scene
{
    width: 100%;
    height: 100%;
}

nav
{
    width: 100%;
    height: 100%;
}

footer
{
    display: flex;
    height: 40%;
    width: 100%
}

.wrapperCharacter
{
    flex-grow: 8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}


.buttons
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Character
{
    width: 40%;
    height: 40%;
    
}

.Inventaire
{
    width: 100%;
    height: 100%;
    
}
